.container{
    height: 86%;
    background-color: #fffae6;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.box-user-img{
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-profile{
    margin-top: 30%;
    height: 70%;
    width: 90%;
    border: 1px solid #174220;
    border-radius: 20px;
    background-color: #e6e6e1;
}

.top-background{
    background-color: #3a5740;
    height: 17%;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.user-img{
    height: 80px;
    width: 80px;
    background-color: #bbb;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 27px;
    color: #174220;
    position: absolute;
    font-family: fantasy;
    font-weight: lighter;
}

.form-update{
    margin-top: 20%;
    height: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding-left: 7%;
    padding-right: 7%;
    gap: 8%;
}

label{
    width: 100%;
    font-family: fantasy;
    font-size: 23px;
    color: #174220;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

input{
    width: 100%;
    font-size: 20px;
    padding: 5px;
    border: none;
    outline: none;
    background: none;
    padding: 0;
    color: rgb(29, 27, 27);
    font-family: fantasy;
}

.input-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    width: 100%;
}

.update-btn{
    margin: 20px 0 20px 0;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: 2px solid #044a0d;
    background-color: #ffff;
    box-shadow: 4px 4px #044a0d;
    font-size: 20px;
    font-family: fantasy;
    font-weight: 100;
    color: #044a0d;
    cursor: pointer;
}

.update-btn:active{
    box-shadow: 0px 0px #044a0d;
    transform: translate(3px, 3px);
    color: #fffae6;
    background-color: #044a0d;
}

.x{
    color: rgb(158, 0, 0);
    font-weight: bolder;
    font-family: fantasy;
}

.icon{
    display: flex;
    align-items: flex-end;
    gap: 22px;
    width: 17%;
}

.error-message , .confirm-message{
    position: absolute;
    background: rgba(0,0,0,.95);
    padding: 10px;
    color: red;
    border-radius: 4px;
    bottom: 17%;
    z-index: 4;
    font-size: 17px;
    display: flex;
    gap: 12px;
    align-items: center;
}

.confirm-message{
    color: white;
    bottom: 2px;
}
